winConsumeWerbServices-SQLAzure-WordPress/Web References/wsSQLAzureWordpress/webservice1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ivacker.cl/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ivacker.cl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WebServices para conectar a un catalogo SQL-Azure, que contiene WordPress - by @ivacker</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ivacker.cl/">
      <s:element name="es_Data_EjecutaSQLComando">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sQuery" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="es_Data_EjecutaSQLComandoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="es_Data_EjecutaSQLComandoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="es_Data_EjecutaSQLComandoSoapIn">
    <wsdl:part name="parameters" element="tns:es_Data_EjecutaSQLComando" />
  </wsdl:message>
  <wsdl:message name="es_Data_EjecutaSQLComandoSoapOut">
    <wsdl:part name="parameters" element="tns:es_Data_EjecutaSQLComandoResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:portType name="ws-SQLAzure-WPSoap">
    <wsdl:operation name="es_Data_EjecutaSQLComando">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ejecuta el comando SQL y retorna los resultado bajo un DataSet</wsdl:documentation>
      <wsdl:input message="tns:es_Data_EjecutaSQLComandoSoapIn" />
      <wsdl:output message="tns:es_Data_EjecutaSQLComandoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws-SQLAzure-WPSoap" type="tns:ws-SQLAzure-WPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="es_Data_EjecutaSQLComando">
      <soap:operation soapAction="http://ivacker.cl/es_Data_EjecutaSQLComando" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://ivacker.cl/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws-SQLAzure-WPSoap12" type="tns:ws-SQLAzure-WPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="es_Data_EjecutaSQLComando">
      <soap12:operation soapAction="http://ivacker.cl/es_Data_EjecutaSQLComando" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://ivacker.cl/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws-SQLAzure-WP">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WebServices para conectar a un catalogo SQL-Azure, que contiene WordPress - by @ivacker</wsdl:documentation>
    <wsdl:port name="ws-SQLAzure-WPSoap" binding="tns:ws-SQLAzure-WPSoap">
      <soap:address location="http://ws-sqlazure.azurewebsites.net/webservice1.asmx" />
    </wsdl:port>
    <wsdl:port name="ws-SQLAzure-WPSoap12" binding="tns:ws-SQLAzure-WPSoap12">
      <soap12:address location="http://ws-sqlazure.azurewebsites.net/webservice1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>